#fountainG {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#fountainG_2 {
    left: 29px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#fountainG_3 {
    left: 58px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#fountainG_4 {
    left: 88px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#fountainG_5 {
    left: 117px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#fountainG_6 {
    left: 146px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#fountainG_7 {
    left: 175px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#fountainG_8 {
    left: 205px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        transform: scale(0.3);
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -o-transform: scale(0.3);
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -ms-transform: scale(0.3);
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -webkit-transform: scale(0.3);
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(0, 0, 0);
    }

    100% {
        -moz-transform: scale(0.3);
        background-color: rgb(255, 255, 255);
    }
}

.preloader {
    position: fixed;
    background-color: #1f1f1f;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cssload-container {
    position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204, 204, 204);
    border-left-color: rgb(0, 0, 0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 500;
}

.tabs__preloader {
    position: fixed;
    background-color: #1f1f1f;
    z-index: 500;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    visibility: visible;
}

.tabs__preloader--invisible {
    visibility: hidden;
}

.body {
    background-color: #1f1f1f;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    min-height: 85vh;
    flex-shrink: 0;
    width: 70%;
    margin: 0 auto;
}

.tabs {
    padding: 20px;
    display: flex;
}

.tabs__list > li {
    cursor: pointer;
    height: 30px;
}

.tabs__list {
    min-width: 20%;
    padding-bottom: 20vh;
}

.triggers__tabs {
    padding-left: 20px;
    background-color: #2a2a2a;
    transition: 0.5s;
    border: rgb(65, 65, 65) solid 1px;
    border-top: none;
    line-height: 31px;
}

.triggers__tabs:first-child {
    border-top: rgb(65, 65, 65) solid 1px;
    border-radius: 3px 3px 0 0;
}

.triggers__tabs:last-child {
    border-radius: 0 0 3px 3px;
}

.triggers__tabs--active {
    background-color: #3e3e3e;
}

.tabs__content {
    margin-left: 4vw;
    min-width: 40vw;
}

.tabs__content__item {
    display: none;
    max-height: auto;
    min-width: auto;
    transition: 0.5s;
    border-radius: 4px;
}

.tabs__content__item > img {
    padding: 10px;
    border-radius: 15px;
    height: 100px;
    width: 100px;
}

.tabs__content__item > p {
    font-size: 13px;
    line-height: 1.5;
}

.tabs__content__item--active {
    display: flex;
    min-width: 20vw;
    transition: 0.5s;
    background-color: #2a2a2a;
}

.tabs__text {
    padding: 10px;
    width: 100%;
}

.tabs__text > p:first-child {
    font-size: 16px;
    margin-left: -10px;
    border: none;
}

.tabs__text > p:nth-child(2) {
    border-top: rgb(65, 65, 65) solid 1px;
    border-bottom: rgb(65, 65, 65) solid 1px;
}

.tabs__text > p {
    display: flex;
    text-align: center;
    padding: 5px 0;
    border-bottom: rgb(65, 65, 65) solid 1px;
}

.tabs__text > p:last-child {
    border: none;
}

.button__wrapper {
    display: flex;
    justify-content: space-around;
}

.button-previous {
    user-select: none;
    pointer-events: auto;
    border: none;
    padding: 10px 25px;
    background-color: #2a2a2a;
    box-shadow: rgb(65, 65, 65) 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    border: white solid 1px;
    cursor: pointer;
}

.button-previous:active,
.button-previous:hover {
    box-shadow: 0 0 20px rgb(204, 42, 42);
    color: rgb(204, 42, 42);
    border: rgb(204, 42, 42) solid 1px;
}

.button-previous--lock {
    pointer-events: none;
}

.button-next {
    user-select: none;
    pointer-events: auto;
    padding: 10px 35px;
    background-color: #2a2a2a;
    box-shadow: rgb(65, 65, 65) 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    border: white solid 1px;
    cursor: pointer;
}

button:active,
button:focus {
    outline: none;
}

.button-next--lock {
    pointer-events: none;
}

.counter {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 10vh;
}

.counter__max {
    color: aqua;
}

.counter__current {
    width: auto;
}

.pagination__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.pagination {
    position: absolute;
    width: auto;
    margin: 0;
    padding: 10px;
    background-color: #121212;
    border-radius: 40px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
    font-family: "Lora", serif;
}

.pagination > li {
    display: inline-block;
    list-style: none;
}

.pagination > li > a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #121212;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: rgba(255, 255, 255, 0.096) solid 1px;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.pagination a:hover {
    color: #fff;
    box-shadow: 0 0 20px rgb(204, 42, 42);
    color: rgb(204, 42, 42);
    border: rgb(204, 42, 42) solid 1px;
}

.pagination a:active {
    color: #fff;
    background-color: #ff4242;
}

.pagination li:first-child a {
    border-radius: 40px 0 0 40px;
}

.pagination li:last-child a {
    border-radius: 0 40px 40px 0;
}

.pagination__first-item:active,
.pagination__first-item:hover,
.pagination__last-item:active,
.pagination__last-item:hover {
    box-shadow: 0 0 20px #3527ff !important;
    color: #3527ff !important;
    border: #3527ff solid 1px !important;
}
